:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  --dkclr: #181818;
  --liclr: whitesmoke;
  --accclr: #0d0d35;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  background-color: var(--dkclr);
  color: var(--liclr);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header,
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 20px;
}

main {
  flex: 1;
  display: flex;
}

#gameCanvas {
  border: 5px solid #b08d15;
  border-radius: 5px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  z-index: 1;
}
